body {
    margin: 0 auto;
    color: #ffffff;
}
@font-face {
    font-family: Custom;
    src: url("../font/Lato-Bla.ttf");
}
@font-face {
    font-family: Lato-BlaIta;
    src: url("../font/Lato-BlaIta.ttf");
}
@font-face {
    font-family: Lato-Bol;
    src: url("../font/Lato-Bol.ttf");
}
@font-face {
    font-family: Lato-BolIta;
    src: url("../font/Lato-Bolita.ttf");
}
@font-face {
    font-family: Lato-Hai;
    src: url("../font/Lato-Hai.ttf");
}
@font-face {
    font-family: Lato-HaiIta;
    src: url("../font/Lato-HaiIta.ttf");
}
@font-face {
    font-family: Lato-Lig;
    src: url("../font/Lato-Lig.ttf");
}
@font-face {
    font-family: Lato-LigIta;
    src: url("../font/Lato-LigIta.ttf");
}
@font-face {
    font-family: Lato-Reg;
    src: url("../font/Lato-Reg.ttf");
}
@font-face {
    font-family: Lato-RegIta;
    src: url("../font/Lato-RegIta.ttf");
}

.container-fluid {
    width: 92%;
}
.loginLogo {
    position: relative;
    left: 47px;
    bottom: 242px;

}
.logo {
    display: inline;
    left: 7%;

}

.login {
    display: inline;
    float: right;
    width: 30%;
    top: 25px;
    font-family: Custom;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
}
.log {
    display: inline;
    padding: 3%;

}
.sign {
    display: inline;
    padding: 3%;
}
.menu {
    display: inline;
    padding: 3%;
}

.firstPage {
    background: url("../images/maine.png") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
}

.info {
    background: #ffffff;
    height: 100%;
}
.infoContent {
    margin-left: 1%;
    margin-top: 4%;
}

.burger {
    border: 2px solid black;
    padding: 2px;
    border-radius: 50px;

}
.money {
    border: 2px solid black;
    padding: 2px;
    border-radius: 50px;
}
.cook {
    border: 2px solid black;
    padding: 2px;
    border-radius: 50px;
}
.iconSign {
    font-size: 14px;
    color:black;
    text-align: center;

}
.iconSign h3 {
    font-family: Lato-Bol;
    text-transform: uppercase;


}

.iconSign p {
    font-size: 10px;
    margin-top: 5px;
    padding: 11px;
    text-transform: lowercase;
    font-weight: 200;
    line-height: 1.7;
    font-family: Lato-Lig;

}
.border {
   position: relative;
}
.border:before {
    position: absolute;
    top: 6px;
    left: 40%;
    width: 20%;
    border-top: 1px solid #f57365;
    content:"";


}
.border2 {
    position: relative;

}
.border2:before {
    position: absolute;
    top: -7px;
    width: 8%;
    border-top: 1px solid #f57365;
    content: "";
}
.aboutApp {
    background: #f4f4f4;
    overflow: hidden;

}

.iphone {
    float:left;
    margin-left: 5%;
    width: 50%;
}

.iphone img {
    max-width: 672px;
    width: 100%;
    height: auto;
}

.iphoneText {
    color: #0f0f0f;
    padding-top: 100px;
}
.iphoneText {
    font-family: Lato-Bol;
    text-transform: uppercase;
}
.iphoneText p {
    margin: 0 0  20px;
    text-transform: lowercase;
    font-weight: 200;
    line-height: 1.7;
    font-family: Lato-Lig;
}
.text {
    padding-right: 12%;
    min-width: 100%;
}
.recall {
    position: relative;
    background: url("../images/revback.png");
    background-size: cover;
    height: 364px;
    clear: both;
}
.recallSlid {
    background-color: transparent;
    height: 270px;
}
.guyPic {
    position: absolute;
    top: 20%;
    left: 48%;
}
.guy {
    border: 4px solid #948a94;
    border-radius: 75px;
}
.recallText {
    position: absolute;
    top: 30%;
    left: 21%;
    text-align: center;
    font-family: Lato-Hai;
    opacity: 0.6;
    padding-top: 36px;

}
.recallText h2 {
    font-size: 25px;
}
.recallText h3 {
    font-family: Lato-HaiIta;
    font-size: 18px;
}

.header {
    background: #ffffff;
    height: 50px;
}

.country {
    height: 50px;

}
.italian {
    background: url("../images/italian.png")no-repeat  center;
    background-size: cover;
    height: 153px;
}
.statistics {
    background: #ffffff;
    height: 50px;

}
footer {
    padding-top: 5%;
    background: #ECECEC;
}
.start {
    /*position:absolute;*/
    text-align: center;
    /*margin: -150px 0 0 -150px;*/
    /*left:50%;*/
    /*top:50%;*/



}

.start h1 {
    font-size: 100px;

}
.start h2 {
    font-size: 36px;
    font-family: "Times New Roman";
    font-style: italic ;
    opacity: 0.8;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.italicFont {
    margin: -25px;
}
.start h3 {
    font-size: 14px;
}
.btn {
    padding: 14px 74px;
    background: transparent;
    border: 2px solid white;
    border-radius:0;
    color: white;
    font-family: Custom;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.owl-buttons {
    display: none;
}